# Data Analysis Using Panda's Library in Jupyter Notebook.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## 1.0 District Summary

In [28]:
# Calculating Total Number of Schools
num_of_diff_schools = school_data_complete ['school_name'].unique()
total_schools = len(num_of_diff_schools)
total_schools

15

In [30]:
# Calculating Total Number of Students
total_num_students = school_data_complete ["student_name"].count()
total_num_students

39170

In [31]:
# Calculating Total Budget
Uniq_total_budget = school_data_complete["budget"].unique()
total_budget = Uniq_total_budget.sum()
total_budget

24649428

In [32]:
# Calculating Average Math Score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [33]:
# Calculate Average Reading Score 
avg_read_score = school_data_complete["reading_score"].mean()
avg_read_score

81.87784018381414

In [34]:
# Overall Students Passing Reading & Math
avg_passing_both = (avg_math_score + avg_read_score)/2
avg_passing_both

80.43160582078121

In [38]:
# Calculate % Passing Math 70 or Greater 
pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70] ["math_score"].count()
pass_math_percen = pass_math / total_num_students *100
print(pass_math_percen)

74.9808526933878

In [49]:

# Calculate % Passing Reading 70 or Greater 
pass_read = school_data_complete.loc[school_data_complete["reading_score"] >= 70] ["reading_score"].count()
pass_read_percen = pass_read / total_num_students *100
print(pass_read_percen)

85.80546336482001

In [63]:
overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                              (school_data_complete["reading_score"] >= 70)]

overall_pass_higher_70 = (overall_passing) ["Student ID"].count()/total_num_students *100
overall_pass_higher_70

65.17232575950983

#### 1.1 District Summary DataFrame

In [86]:
pd.options.display.float_format = '{:,.2f}'.format
district_summary_df = pd.DataFrame ({
        "Total Schools" : [total_schools],
        "Total Students" : [total_num_students],
        "Total Budget" : f"${total_budget:,.2f}",
        "Average Math Score" : [avg_math_score],
        "Average Reading Score" : [avg_read_score],
        "Average Passing Both" : [avg_passing_both],
        "% Passing Math" : [pass_math_percen],
        "% Passing Reading" : [pass_read_percen],
        "% Overall Passing (>70)" : [overall_pass_higher_70]
})
#Formatting
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Average Passing Both,% Passing Math,% Passing Reading,% Overall Passing (>70)
0,15,39170,"$24,649,428.00",78.99,81.88,80.43,74.98,85.81,65.17