# Data Analysis Using Panda's Library in Jupyter Notebook.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### 1.0 District Summary

In [5]:
# Calculating Total Number of Schools
num_of_diff_schools = school_data_complete ['school_name'].unique()
total_schools = len(num_of_diff_schools)
total_schools

15

In [6]:
# Calculating Total Number of Students
total_num_students = school_data_complete ["student_name"].count()
total_num_students

39170

In [7]:
# Calculating Total Budget
Uniq_total_budget = school_data_complete["budget"].unique()
total_budget = Uniq_total_budget.sum()
total_budget

24649428

In [8]:
# Calculating Average Math Score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [9]:
# Calculate Average Reading Score 
avg_read_score = school_data_complete["reading_score"].mean()
avg_read_score

81.87784018381414

In [10]:
# Overall Students Passing Reading & Math
avg_passing_both = (avg_math_score + avg_read_score)/2
avg_passing_both

80.43160582078121

In [11]:
# Calculate % Passing Math 70 or Greater 
pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70] ["math_score"].count()
pass_math_percen = pass_math / total_num_students *100
print(pass_math_percen)

74.9808526933878

In [12]:

# Calculate % Passing Reading 70 or Greater 
pass_read = school_data_complete.loc[school_data_complete["reading_score"] >= 70] ["reading_score"].count()
pass_read_percen = pass_read / total_num_students *100
print(pass_read_percen)

85.80546336482001

In [13]:
overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                              (school_data_complete["reading_score"] >= 70)]
overall_pass_higher_70 = (overall_passing) ["Student ID"].count()/total_num_students *100
overall_pass_higher_70

65.17232575950983

In [14]:
pd.options.display.float_format = '{:,.2f}'.format
district_summary_df = pd.DataFrame ({
        "Total Schools" : [total_schools],
        "Total Students" : [total_num_students],
        "Total Budget" : f"${total_budget:,.2f}",
        "Average Math Score" : [avg_math_score],
        "Average Reading Score" : [avg_read_score],
        "Average Passing Both" : [avg_passing_both],
        "% Passing Math" : [pass_math_percen],
        "% Passing Reading" : [pass_read_percen],
        "% Overall Passing (>70)" : [overall_pass_higher_70]
})
#Formatting
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Average Passing Both,% Passing Math,% Passing Reading,% Overall Passing (>70)
0,15,39170,"$24,649,428.00",78.99,81.88,80.43,74.98,85.81,65.17

### 2.0 School Summary

In [37]:
# Caluclate the school types
all_school_name = school_data_complete.set_index("school_name").groupby(["school_name"])
#School Types 
school_types = school_data.set_index("school_name")["type"]
#Total Students per School
total_stu = all_school_name['Student ID'].count()

#Total School Budget 
school_budg = school_data.set_index("school_name")["budget"]
school_budg                                                  
#Per Student Budget
student_budget = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]
student_budget
#Avg Math Score
#avg_math_score = all_school_name["math_score"].mean
avg_math_score = all_school_name['math_score'].mean()
print(avg_math_score)
#Avg Reading Score 
avg_read_score = all_school_name['reading_score'].mean()
# % Pass Math
math_pass = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).count()["student_name"]
math_pass_percen = math_pass / total_stu * 100
print(math_pass_percen)
# % Pass Reading 
read_pass = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).count()["student_name"] 
read_pass_percen = read_pass / total_stu * 100
print(read_pass_percen)

# Overall Passing 
ov_pass = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby(['school_name']).count()["student_name"] / total_stu * 100
print(ov_pass)

school_name
Bailey High School      77.05
Cabrera High School     83.06
Figueroa High School    76.71
Ford High School        77.10
Griffin High School     83.35
Hernandez High School   77.29
Holden High School      83.80
Huang High School       76.63
Johnson High School     77.07
Pena High School        83.84
Rodriguez High School   76.84
Shelton High School     83.36
Thomas High School      83.42
Wilson High School      83.27
Wright High School      83.68
Name: math_score, dtype: float64
school_name
Bailey High School      66.68
Cabrera High School     94.13
Figueroa High School    65.99
Ford High School        68.31
Griffin High School     93.39
Hernandez High School   66.75
Holden High School      92.51
Huang High School       65.68
Johnson High School     66.06
Pena High School        94.59
Rodriguez High School   66.37
Shelton High School     93.87
Thomas High School      93.27
Wilson High School      93.87
Wright High School      93.33
dtype: float64
school_name
Bailey High School      81.93
Cabrera High School     97.04
Figueroa High School    80.74
Ford High School        79.30
Griffin High School     97.14
Hernandez High School   80.86
Holden High School      96.25
Huang High School       81.32
Johnson High School     81.22
Pena High School        95.95
Rodriguez High School   80.22
Shelton High School     95.85
Thomas High School      97.31
Wilson High School      96.54
Wright High School      96.61
dtype: float64
school_name
Bailey High School      54.64
Cabrera High School     91.33
Figueroa High School    53.20
Ford High School        54.29
Griffin High School     90.60
Hernandez High School   53.53
Holden High School      89.23
Huang High School       53.51
Johnson High School     53.54
Pena High School        90.54
Rodriguez High School   52.99
Shelton High School     89.89
Thomas High School      90.95
Wilson High School      90.58
Wright High School      90.33
dtype: float64

In [46]:
school_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_stu,
    "Per Student Budget": student_budget,
    "Total School Budget": school_budg,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_read_score,
    '% Passing Math': math_pass_percen,
    '% Passing Reading': read_pass_percen,
    "% Overall Passing": ov_pass
})
school_summary_df.head(15)

#Formating Budget Columns
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,$628.00,"$3,124,928.00",77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,$582.00,"$1,081,356.00",83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,2949,$639.00,"$1,884,411.00",76.71,81.16,65.99,80.74,53.20
Ford High School,District,2739,$644.00,"$1,763,916.00",77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,1468,$625.00,"$917,500.00",83.35,83.82,93.39,97.14,90.60

### 3.0  Top Performing Schools (By % Overall Passing)

### 4.0 Bottom Performing Schools (By % Overall Passing)

### 5.0 Math Scores by Grade

### 6.0 Reading Scores by Grade

### 7.0 Scores by School Spending

### 8.0 Scores by School Size

### 9.0 Scores by School Type